@model DBProgramming_II.Models.Product

<label>Price</label>
<label>@Html.TextBoxFor(x => x.UnitPrice)</label>
<br />

<label>Available Qty</label>
<label>@Html.TextBoxFor(x => x.OnHandQuantity)</label>
